.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    text-align: center;
    padding-top: -10;
    gap: 7rem;
    margin: 0;
    padding: 10px 5px;
    text-decoration: none;
    justify-content: center;
    position: relative;
    color:#37447E;
    
    font-size: 20px;
    
    
}

#contact{
    color: white;
    background-color:#111B47;
    border-radius: 50px;
    font-size: 50px;
    align-items: end;
    border-style:none ;
    border-style:none; 
    padding: 15px;
    margin-right: 20px;
}

#name{
    color:#37447E;
    font-size: 80px;
    margin-left: 20px;


}

body{

    background-image: url(images/Background\ design.png);
    transition: all ease 3s;

}

.mainText{

    margin-top: 100px;
}
#Headingtitle{
    font-size: 75px;
    color: #37447E;
    text-align: center;
}
.mainText {
    
    margin-top: 100px; /* Adjust as needed */

}

.Team{
    display: flex;
}
.Collin{

    max-width: 500px;
}

#Collinname{
    text-align: center;
}

#CollinDes{
    text-align: center;
}

#collinPic{

    max-height: 300px;
    margin-left: 100px;
}
.BillyJoel{
    margin-left: px;
    
    max-width: 500px;
}
#BillyPic{
    max-height: 300px;
    margin-left: 100px;
}
#BillyDes{
    text-align: center;

}

#BillyName{
    text-align: center;
}

.SusyBob{
    margin-left: 100px;
    
    max-width: 500px;
}
#SusyPic{
    max-height: 300px;
    margin-left: 75px;
}

#SusyDes{
    text-align: center;
}

#SusyName{
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* Ensure no underline on button */
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    text-align: center;
    padding-top: -10;
    gap: 7rem;
    margin: 0;
    padding: 10px 5px;
    text-decoration: none;
    justify-content: center;
    position: relative;
    color:#37447E;
    font-size: 20px;
}

.topbar a {
    text-decoration: none;
}

a:visited, a:link {
    color:#37447E;
}