*{
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0
}



.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    text-align: center;
    padding-top: -10;
    gap: 7rem;
    margin: 0;
    padding: 10px 5px;
    text-decoration: none;
    justify-content: center;
    position: relative;
    color:#37447E;
    font-size: 20px;
}

.topbar a {
    text-decoration: none;
}

#contact{
    color: white;
    background-color:#111B47;
    border-radius: 50px;
    font-size: 50px;
    align-items: end;
    border-style:none ;
    border-style:none; 
    padding: 15px;
    margin-right: 20px;

   

}

#name{
    color:#37447E;
    font-size: 80px;
    margin-left: 20px;
    
}
#Menu{
    font-size: 30px;
    margin-bottom: 50px;
    background-color: #2c386f;
    padding: 20px;
    text-decoration: none;
}

#menuNames{
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    padding:20px


}
body{

    background-image: url(images/Background\ design.png);
    margin-top: 10px;
    transition: all ease 3s;
    
}
#Headingtitle{
    font-size: 75px;
}

#heading{
    font-size: 50px;
    text-align: center;
    color:#37447E;
}

.app{

    display: flex;
    min-height: 100vh;

}

.sidebar{
    flex:1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #37447ef5;
    border-radius: 5px;
    
}

.sidebar h3{

    color: rgb(254, 254, 254);
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em
    
}

.sidebar .menu{

    margin: 0 -1rem;


}

.sidebar .menu .menu-item {

    display: block;
    padding:1em;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;


}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {

    color: #3bba9c;
    border-right: 5px solid ;

}
@media (max-width:1024px) {
    .sidebar{
        max-width:200px;
    }

}

a:visited, a:link {
    color:#37447E;
}